﻿@model AntaraSoftTest.Models.Course

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Вы точно хотите удалить данный Курс?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">       
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="button" value="Назад" onclick="history.back()" class="btn btn-default" />
            <input type="submit" value="Удалить" class="btn btn-danger" /> 
        </div>
    }
</div>
