﻿@model IEnumerable<AntaraSoftTest.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="row">
    <div class="col-md-6">
        <h2>Список Курсов</h2>
        <p>
            @Html.ActionLink("Добавить Курс", "Create", null, new { @class = "btn btn-info" })
        </p>
        <div>
            <table class="table table-bordered">
                <tr class="header">
                    <td><p>№</p></td>
                    <td><p>Название курса</p></td>
                    <td><p>Цена грн.</p></td>
                    <td></td>
                </tr>
                @{int i = 0;
                }
                @foreach (AntaraSoftTest.Models.Course b in Model)
                {
                    i += 1;
                    <tr class="@b.Id">
                        <td><p>@i</p></td>
                        <td><p>@b.Name</p></td>
                        <td><p>@b.Cost</p></td>
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", new { id = b.Id }) |
                            @Html.ActionLink("Удалить", "Delete", new { id = b.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-md-4">
            <h2>Календарь Курсов</h2>
           <table class="table table-bordered">
                <thead>
                    <tr class="table-info">
                        <th></th>
                        <th>ПН</th>
                        <th>ВТ</th>
                        <th>СР</th>
                        <th>ЧТ</th>
                        <th>ПТ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">09:00</th>
                        <td class="91"></td>
                        <td class="92"></td>
                        <td class="93"></td>
                        <td class="94"></td>
                        <td class="95"></td>
                    </tr>
                    <tr>
                        <th scope="row">10:00</th>
                        <td class="101"></td>
                        <td class="102"></td>
                        <td class="103"></td>
                        <td class="104"></td>
                        <td class="105"></td>
                    </tr>
                    <tr>
                        <th scope="row">11:00</th>
                        <td class="111"></td>
                        <td class="112"></td>
                        <td class="113"></td>
                        <td class="114"></td>
                        <td class="115"></td>
                    </tr>
                    <tr>
                        <th scope="row">12:00</th>
                        <td class="121"></td>
                        <td class="122"></td>
                        <td class="123"></td>
                        <td class="124"></td>
                        <td class="125"></td>
                    </tr>
                    <tr>
                        <th scope="row">13:00</th>
                        <td class="131"></td>
                        <td class="132"></td>
                        <td class="133"></td>
                        <td class="134"></td>
                        <td class="135"></td>
                    </tr>
                    <tr>
                        <th scope="row">14:00</th>
                        <td class="141"></td>
                        <td class="142"></td>
                        <td class="143"></td>
                        <td class="144"></td>
                        <td class="145"></td>
                    </tr>
                    <tr>
                        <th scope="row">15:00</th>
                        <td class="151"></td>
                        <td class="152"></td>
                        <td class="153"></td>
                        <td class="154"></td>
                        <td class="155"></td>
                    </tr>
                    <tr>
                        <th scope="row">16:00</th>
                        <td class="161"></td>
                        <td class="162"></td>
                        <td class="163"></td>
                        <td class="164"></td>
                        <td class="165"></td>
                    </tr>
                    <tr>
                        <th scope="row">17:00</th>
                        <td class="171"></td>
                        <td class="172"></td>
                        <td class="173"></td>
                        <td class="174"></td>
                        <td class="175"></td>
                    </tr>
                </tbody>
          </table>
    </div>
</div>

@foreach (AntaraSoftTest.Models.Course b in Model)
{
    int a = 0;
    string s;
    int start = b.TimeStartId * 10 + b.DateCourseId;
    int end = (b.TimeEndId - 1) * 10 + b.DateCourseId;
    string first = start.ToString() + ",";
    string last = "." + end.ToString();
    if ((b.TimeEndId - b.TimeStartId) == 1)
    {
        <script>
$(document).ready(function(){
    $(".@b.Id").mouseover(function(){
        $('.@start').css("background-color", "CadetBlue");
            });
    $(".@b.Id").mouseout(function () {
        $('.@start').css("background-color", "white");
            });
        });
        </script>
    }
    else if ((b.TimeEndId - b.TimeStartId) == 2)
    {
        <script>
$(document).ready(function(){
    $(".@b.Id").mouseover(function(){
        $('.@start,.@end').css("background-color", "CadetBlue");
            });
    $(".@b.Id").mouseout(function () {
        $('.@start,.@end').css("background-color", "white");
            });
        });
        </script>
    }
    else
    {
        a = b.TimeEndId - b.TimeStartId - 2;
        for (int k = 0; k < a; k++)
        {
            first += "." + ((b.TimeStartId + k + 1) * 10 + b.DateCourseId) + ",";
        }
        s = first + last;
        <script>
$(document).ready(function(){
    $(".@b.Id").mouseover(function(){
        $('.@s').css("background-color", "CadetBlue");
            });
    $(".@b.Id").mouseout(function () {
        $('.@s').css("background-color", "white");
            });
        });
        </script>
    }
}

